.header-nav {
    @apply flex items-center justify-between flex-wrap;
}
.header-nav__list {
    @apply flex flex-wrap;
}
.header-nav__link {
    @apply font-medium text-custom-white px-3 py-4 mr-6;
}
.header-nav__link:hover {
    @apply underline;
}
.header-nav__logo {
    @apply absolute text-custom-white;
    left: 4.6%;
    top: 50%;
    transform: translateY(-50%);
}
